<nav class="flex bg-main text-darkBg sticky top-0 border-b-2 max-h-16 border-border items-center justify-between p-4">
    <div class="flex items-center">
      <a href="/">
 <h1 class="text-2xl font-bold" aria-label="CMLI" >cmli</h1>
 </a>
    </div>
    </nav>