---
import { Button } from "./ui/button";
---

<form class="grid max-w-80 grid-cols-4" method="POST" action="/search/">
    <input
        type="text"
        placeholder="Search"
        name="query"
        class="input !rounded-r-none !border-r-0"
    />

        <Button variant="noShadow" className="min-h-full rounded-l-none" type="submit">Search</Button>

</form>