---
import Navbar from "../components/Navbar.astro";
import '../styles/globals.css'; 
const { title, searchBox, nav, kbd } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
<meta property="og:title" content="CMLI" />
<meta property="og:description" content="A database for Christian music lyrics. Fast, easy to use, keyboard-accessible, and simple." />
<meta property="og:image" content="/meta_banner.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="CMLI" />
<meta property="twitter:description" content="A database for Christian music lyrics. Fast, easy to use, keyboard-accessible, and simple." />
<meta property="twitter:image" content="/meta_banner.png" />
    <title>{title}</title>
  </head>
  <body class="bg-background min-h-dvh min-w-full font-mono text-foreground">
    <main class="min-h-dvh min-w-full flex flex-col">
      <Navbar searchBox={searchBox} nav={nav} />
      <slot />
    </main>
  </body>
</html>

{kbd !== "disable" ? (
  <script>
    console.log('Keyboard shortcuts enabled');
    document.addEventListener('keydown', function(event) {
      if (event.key === 'Escape') {
        history.back();
      }
      if (event.key === 'h') {
        window.location.href = '/';
      }
    });
  </script>
) : <script>console.log('Keyboard shortcuts enabled, excluding common keys')
document.addEventListener('keydown', function(event) {
  if (event.key === 'Escape') {
    history.back();
  }
})
</script>}