---
import '../styles/globals.css';
import Navbar from '../components/Navbar.astro';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap" rel="stylesheet">

<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{Astro.props.title}</title>
    </head>
    <body class="dark:bg-darkBg  min-w-full bg-bg dark:text-darkText text-text">
        <main class=" min-w-full">
            <Navbar />
            <div
            >
                <slot />
            </div>
        </main>
    </body>
</html>